CONFIG_ULTIPARC=y
CONFIG_SOC_ULTIPARC_RTL=y
CONFIG_BOARD_ULTIPARC_SIM=y
CONFIG_ULTIPARC_TIMER=y
CONFIG_ULTIPARC_ICTL=y
CONFIG_CONSOLE=y
CONFIG_PRINTK=y
CONFIG_ULTIPARC_CONSOLE=y
CONFIG_STDOUT_CONSOLE=y
CONFIG_SERIAL=n
CONFIG_BOOT_BANNER=y
