if SOC_ULTISOC

config SOC
	string
	default "ultisoc"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 50000000

config NUM_IRQS
	int
	default 32

config RAM_BASE
	hex
	default	0x01000000

config RAM_SIZE
	hex
	default 0x40000

endif # SOC_ULTISOC
